
@use 'defaults.scss';
@use 'shared.scss';

:root {
	--dtaf-handle_border: 1px solid #00D1B2;
	--dtaf-handle_background: #00D1B2;
	--dtaf-handle_z-index: 11;

	--dtaf-outline_background-color: #00D1B2;
	
	&[data-theme="dark"] {
		--dtaf-handle_border: 1px solid #00D1B2;
		--dtaf-handle_background: #00D1B2;

		--dtaf-outline_background-color: #00D1B2;
	}
}

div.dt-autofill-list {
	button {
		margin: 0;
	}
}
